.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.762207;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.959961;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
.sc0{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:44.160000px;}
.y6{bottom:3.712517px;}
.y8{bottom:3.712532px;}
.yb{bottom:3.712548px;}
.yd{bottom:3.712564px;}
.y13{bottom:3.712572px;}
.yf{bottom:3.712579px;}
.y15{bottom:3.712587px;}
.y11{bottom:3.712595px;}
.y4{bottom:3.712601px;}
.y2{bottom:3.712608px;}
.y17{bottom:3.712618px;}
.y19{bottom:3.712634px;}
.y0{bottom:67.500000px;}
.y1a{bottom:185.304233px;}
.y18{bottom:199.865833px;}
.y16{bottom:214.427433px;}
.y14{bottom:243.550633px;}
.y12{bottom:258.112233px;}
.y10{bottom:301.796933px;}
.ye{bottom:316.358533px;}
.yc{bottom:330.920133px;}
.ya{bottom:345.481733px;}
.y9{bottom:360.043333px;}
.y7{bottom:374.604933px;}
.y5{bottom:389.166533px;}
.y3{bottom:418.289633px;}
.y1{bottom:505.659133px;}
.h4{height:14.061500px;}
.h2{height:14.061600px;}
.h3{height:33.120000px;}
.h1{height:339.500000px;}
.h0{height:603.093900px;}
.w1{width:306.500000px;}
.w2{width:354.290200px;}
.w0{width:455.590200px;}
.x1{left:1.803571px;}
.x0{left:51.000000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs0{font-size:58.880000pt;}
.y6{bottom:4.950023pt;}
.y8{bottom:4.950043pt;}
.yb{bottom:4.950064pt;}
.yd{bottom:4.950085pt;}
.y13{bottom:4.950096pt;}
.yf{bottom:4.950105pt;}
.y15{bottom:4.950116pt;}
.y11{bottom:4.950127pt;}
.y4{bottom:4.950135pt;}
.y2{bottom:4.950144pt;}
.y17{bottom:4.950157pt;}
.y19{bottom:4.950179pt;}
.y0{bottom:90.000000pt;}
.y1a{bottom:247.072311pt;}
.y18{bottom:266.487777pt;}
.y16{bottom:285.903244pt;}
.y14{bottom:324.734177pt;}
.y12{bottom:344.149644pt;}
.y10{bottom:402.395911pt;}
.ye{bottom:421.811377pt;}
.yc{bottom:441.226844pt;}
.ya{bottom:460.642311pt;}
.y9{bottom:480.057777pt;}
.y7{bottom:499.473244pt;}
.y5{bottom:518.888711pt;}
.y3{bottom:557.719511pt;}
.y1{bottom:674.212177pt;}
.h4{height:18.748667pt;}
.h2{height:18.748800pt;}
.h3{height:44.160000pt;}
.h1{height:452.666667pt;}
.h0{height:804.125200pt;}
.w1{width:408.666667pt;}
.w2{width:472.386933pt;}
.w0{width:607.453600pt;}
.x1{left:2.404761pt;}
.x0{left:68.000000pt;}
}
